In [8]:
import pandas as pd
import nltk
from data import source
from util import stat

# TODO: 画整个数据集情感得分的分布; 整个数据集的未处理词频统计+词云；整个数据集处理后的词频统计+词云

In [2]:
data = pd.read_csv(source)
data

,count,hate_speech_count,offensive_language_count,neither_count,class,tweet
0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
...,...,...,...,...,...,...
24778,3,0,2,1,1,you's a muthaf***in lie &#8220;@LifeAsKing: @2...
24779,3,0,1,2,2,"you've gone and broke the wrong heart baby, an..."
24780,3,0,3,0,1,young buck wanna eat!!.. dat nigguh like I ain...
24781,6,0,6,0,1,youu got wild bitches tellin you lies
24782,3,0,0,3,2,~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

In [3]:
data['class'].value_counts()  # 0: hate, 1: offensive, 2: neither

class
1    19190
2     4163
0     1430
Name: count, dtype: int64

In [4]:
data[data['class'] == 0]

,count,hate_speech_count,offensive_language_count,neither_count,class,tweet
85,3,2,1,0,0,"""@Blackman38Tide: @WhaleLookyHere @HowdyDowdy1..."
89,3,3,0,0,0,"""@CB_Baby24: @white_thunduh alsarabsss"" hes a ..."
110,3,3,0,0,0,"""@DevilGrimz: @VigxRArts you're fucking gay, b..."
184,3,3,0,0,0,"""@MarkRoundtreeJr: LMFAOOOO I HATE BLACK PEOPL..."
202,3,2,1,0,0,"""@NoChillPaz: ""At least I'm not a nigger"" http..."
...,...,...,...,...,...,...
24576,3,2,1,0,0,this guy is the biggest faggot omfg
24685,3,2,1,0,0,which one of these names is more offensive kik...
24751,3,2,1,0,0,you a pussy ass nigga and I know it nigga.
24776,3,3,0,0,0,you're all niggers
24777,3,2,1,0,0,you're such a retard i hope you get type 2 dia...

In [5]:
data['num_at'] = data['tweet'].apply(stat.count_at)
data['num_url'] = data['tweet'].apply(stat.count_url)
data['num_hashtag'] = data['tweet'].apply(stat.count_hashtag)
data['num_exclamation'] = data['tweet'].apply(stat.count_pattern, args=('!',))
data['num_uppercase_word'] = data['tweet'].apply(stat.count_uppercase_word)
data['num_lowercase_word'] = data['tweet'].apply(stat.count_lowercase_word)
data['num_emoji'] = data['tweet'].apply(stat.count_emoji)
data

,count,hate_speech_count,offensive_language_count,neither_count,class,tweet,num_at,num_url,num_hashtag,num_exclamation,num_uppercase_word,num_lowercase_word,num_emoji
0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...,1,0,0,3,1,23,0
1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...,1,0,0,7,1,13,0
2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...,2,0,0,11,2,13,0
3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...,2,0,0,9,1,5,0
4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...,1,0,1,13,1,21,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24778,3,0,2,1,1,you's a muthaf***in lie &#8220;@LifeAsKing: @2...,3,0,3,1,1,13,0
24779,3,0,1,2,2,"you've gone and broke the wrong heart baby, an...",0,0,0,0,0,14,0
24780,3,0,3,0,1,young buck wanna eat!!.. dat nigguh like I ain...,0,0,0,2,1,12,0
24781,6,0,6,0,1,youu got wild bitches tellin you lies,0,0,0,0,0,7,0
24782,3,0,0,3,2,~~Ruffled | Ntac Eileen Dahlia - Beautiful col...,0,1,0,0,1,11,0

In [6]:
data['num_at'].value_counts()

num_at
0     10594
1     10585
2      2575
3       746
4       182
5        47
6        39
7         8
9         3
8         3
10        1
Name: count, dtype: int64

In [7]:
data['num_exclamation'].value_counts()

num_exclamation
0     22375
1      1514
2       430
3       257
4        90
5        43
6        27
7        16
9         7
8         6
11        5
10        3
12        3
13        2
19        1
24        1
25        1
14        1
35        1
Name: count, dtype: int64

In [5]:
import nltk
nltk.tokenize.word_tokenize("ad sfa asdfad")

In [11]:
from nltk.corpus import stopwords
'!' in stopwords.words()

False